<br>
<br>

<md-input-container style="width: 100%">
  <input mdInput type='text' style='margin:15px auto;width:30%;' placeholder='Introduzca el ci del paciente' (keyup)='updateFilter($event)'
  /> </md-input-container>

<ngx-datatable class="material" [headerHeight]="50" [limit]="10" [scrollbarH]="true" [columnMode]="'force'" [footerHeight]="50"
  [rowHeight]="'auto'" [rows]="items | async">

  <ngx-datatable-column name="Acciones">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button id="editButton" md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit">
        <img src="../assets/icons/ic_assignment_turned_in_black_24px.svg">
      </button>
      <button id="deleteButton" md-icon-button md-button-sm (click)="editarAntecedenteFamiliar(row)" [attr.aria-label]="delete">
        <img src="../assets/icons/ic_storage_black_24px.svg">
      </button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Paciente">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.paterno}}&nbsp;{{row.materno}}&nbsp;{{row.nombre}}</strong>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>