<div class="mb-1">
    <button id="addButton" md-raised-button color="primary" class="btn btn-secondary" [routerLink]="['new']">Nuevo Doctor</button>
  </div>
  
  <br>
  <br>
  
  <md-input-container style="width : 100%">
    <input mdInput type='text' style='margin:15px auto;width:30%;' placeholder='Introduzca el apellido "paterno"' (keyup)='updateFilter($event)'
    /> </md-input-container>
  
  
  <ngx-datatable class="material" [headerHeight]="40" [limit]="10" [scrollbarH]="true" [columnMode]="'force'" [footerHeight]="30"
    [rowHeight]="'auto'" [rows]="items | async">
  
  
    <ngx-datatable-column name="Doctor">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong>{{row.paterno}}&nbsp;{{row.materno}}&nbsp;{{row.nombre}}</strong>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="CI">
      <ng-template let-value="row['ci']" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Especialidad">
      <ng-template let-value="row['especialidad']" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Celular">
        <ng-template let-value="row['celular']" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
  
    <ngx-datatable-column name="Acciones">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button id="editButton" md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit">
          <img src="../assets/icons/ic_edit_black_24px.svg">
        </button>
        <button id="deleteButton" md-icon-button md-button-sm (click)="deleteItem(row.$key)" [attr.aria-label]="delete">
          <img src="../assets/icons/ic_delete_black_24px.svg">
        </button>
      </ng-template>
    </ngx-datatable-column>
  
  </ngx-datatable>