<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="20" class="sec1" fxFlex.xs="55">
    <button id="addButton" md-raised-button color="primary" class="btn btn-secondary borde" [routerLink]="['new']">Nuevo Paciente</button>
    <button id="addButton" md-raised-button color="primary" class="btn btn-secondary borde" (click)="regCita()">Nueva cita</button>
    <br>
    <br>

    <md-input-container style="width : 90%">
      <input mdInput type='text' style='margin:5px auto;width:30%;' placeholder='Introduzca el "CI"' (keyup)='updateFilter($event)'
      /> </md-input-container>
  </div>


  <div fxFlex="80" class="sec3" fxFlex.xs="15">
    <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
      [scrollbarH]="true" [rows]='items | async'>
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div>
              <strong>CI:</strong> {{row.ci}},
              <strong>Celular: </strong> {{row.celular}}</div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a [class.datatable-icon-down]="!expanded" [class.datatable-icon-down]="expanded" title="Ver detalle" (click)="toggleExpandRow(row)">
            <img src="../assets/icons/baseline-arrow_drop_down-18px.svg" *ngIf="desplegar2" (click)="cambio2();">
            <img src="../assets/icons/baseline-arrow_right-18px.svg" *ngIf="desplegar1" (click)="cambio1();">
          </a>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Acciones">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button id="editButton" mdTooltip="Editar paciente" mdTooltipPosition="above" md-icon-button md-button-sm (click)="edit(row)"
            [attr.aria-label]="edit">
            <img src="../assets/icons/ic_edit_black_24px.svg">
          </button>
          <button id="deleteButton" md-icon-button md-button-sm mdTooltip="Eliminar paciente" mdTooltipPosition="above" (click)="deleteItem(row.$key)"
            [attr.aria-label]="delete">
            <img src="../assets/icons/ic_delete_black_24px.svg">
          </button>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Paciente" [width]="250" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.paterno}}&nbsp;{{row.materno}}&nbsp;{{row.nombre}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="CI" [width]="250" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.ci}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>